@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

.light{
    --text-color: #1b1818;
    --bg-color: #f3f3f2;
    --bg-btn-default: #ee5145;
    --bg-btn-hover: #db3427;
    --bg-color-linkAfter: #450e0a;
    --color-text-btn: #1b1818;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: Poppins, 'Sans Serif';
    background: #1b1818;
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.avatar-profile{
    max-width: 112px;
}

.links-nav{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    color: #fececa;
    padding-bottom: 0.5rem;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #c22a1e;
    transition: all 0.3s ease-in-out;
}

.link a:hover::after{
    width: 81%;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #f3f3f2;
    background-color: #ee5145;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover{
    background-color: #db3427;
}

.btn:active{
    background-color: #c22a1e;
}

.btn:disabled{
    background-color: #fececa;
    color: #c22a1e;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #7F241D;
    z-index: -1;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 50% 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

header .content h1{
    color: #c22a1e;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #c22a1e;
}

header .content p{
    margin-bottom: 2rem;
    color: #fececa;
}

header .image img{
    border-radius: 50%;
    width: 70%;
    margin: auto;
}

header .image{
    position: relative;
}

header .image::before{
    content: "sR";
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translateX(-50%);
    
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: #c22a1e;
    opacity: 0.2;
    z-index: -1;
}

section .header{
    margin-bottom: 1rem;
    color: #c22a1e;
    text-align: start;
    font-size: 2.5rem;
    font-weight: 600;
}

.project{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.project .card{
    background-color: #3a3636;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 16px;
    transition: all 0.2s ease-in-out;
}

.project .card:hover{
    background-color: #1f1e1e;
    border-color: #f3f3f2;
}

.project .card h4{
    margin-bottom: 8px;
    color: #fececa;
    font-size: 1.2rem;
    font-weight: 600;
}

.project .card p{
    margin: 16px auto 30px;
    color: #fececa;
}

.project .card a{
    color: #f3f3f2;
    text-decoration: none;
    font-weight: 700;
}

.card .languages{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card .languages span{
    background-color: #ee5145;
    color: #f3f3f2;
    font-weight: 600;
    border-radius: 16px;
    padding: 8px;
    margin: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.card .languages span:hover{
    background-color: #db3427;
}

.certificados{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: space-around;
    gap: 2rem;
}

.certificados .certificado{
    align-items: center;
    grid-row: 1/2;
    width:400px;
    filter: blur(5px);
    transition: all 0.2s linear;
}
.certificados .certificado:hover{
    width: 500px;
    filter: blur(0px);
}

.certificados .certificado dl{
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    grid-row: 2/3;
}

.certificados .certificado dt{
    margin:1rem auto 8px;
    color: #c22a1e;
    font-size: 1.2rem;
    font-weight: 600;
}

.certificados .certificado dd{
    margin: 5px auto 0;
    color: #fececa;
}



footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .avatar-profile-footer{
    width: 200px;
    position: relative;
    transform: translateY(15%);
}

footer #copyright{
    text-align: center;
    color: #c2291e66;
    font-size: 16px;
}

footer #social-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 2rem 2rem;
    gap: 1rem;
}

footer #social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 60px;
    
    border-radius: 50%;
    transition: all 0.4s ease;
}

footer #social-links a:hover{
    background-color: #c2291e66;
}
